.ml-1 {
    margin-left: 8px !important;
}

html, body {
    height: 100%;
    }
  
/*Na primeira div do seu html */

#conteudo {
    min-height: 100%;
    width: 100%;
    }
  
* html #conteudo {
    height: 100%;
    width: 100%;
    }
  
  /*Posicionando o rodapé*/
#conteudo {
    position: relative;
    }

.page-footer {
    position: absolute;
    bottom: 0;
    }
